<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <a href="home.html">Home</a>
    <a href="index.html">Crime Map</a>
    <a href="top_10_crimes.html">Top 10 Crimes</a>
    <a href="percent_cleared.html">Percentage Cleared</a>
    <a href="percent_open.html">Percentage Open</a>
    <a href="predictive_model.html">Predictive Model</a>
    
    <h1>Welcome to the CMPD Crime Analysis!</h1>
    
    <img src="https://yt3.googleusercontent.com/ytc/AIdro_lqd1837wPMTggXk3Mq2IsI4RQJIdzS0o2NhZ86VJTptko=s900-c-k-c0x00ffffff-no-rj" alt="CMPD" width="1000" height="900">
    
</body>
</html>