<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Percentage of Cases Cleared</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
     <!-- Back to Home Link -->
     <a href="home.html">Home</a>
     <a href="index.html">Crime Map</a>
     <a href="top_10_crimes.html">Top 10 Crimes</a>
     <a href="percent_cleared.html">Percentage Cleared</a>
     <a href="percent_open.html">Percentage Open</a>
     <a href="predictive_model.html">Predictive Model</a>
    
    <script>
        
    </script>
</body>
</html>